<form [formGroup]="usuario">
    <h1><span>I</span>niciar <span>S</span>esión</h1>
    <div class="mb-3 form-group">
        <input type="text" [(ngModel)]="usuario2.user" formControlName="user" class="form-control" placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && f.user.errors }">
        <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
            <div *ngIf="f.user.errors.required">El usuario es obligatorio</div>
        </div>
    </div>
    <div class="mb-3 form-group">
        <input type="password" [(ngModel)]="usuario2.password" formControlName="password" class="form-control" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Por favor, ingresa tu password</div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="iniciarSesion()"><span>CONTINUAR</span></button>
    </div>
</form>