<form [formGroup]="usuario">
    <div class="mb-3 form-group">
        <label class="form-label">Usuario</label>
        <input type="text" [(ngModel)]="usuario2.user" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.user.errors }">
        <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
            <div *ngIf="f.user.errors.required">El usuario es obligatorio</div>
        </div>
    </div>
    <div class="mb-3 form-group">
        <label class="form-label">Contraseña</label>
        <input type="password" [(ngModel)]="usuario2.password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Por favor, ingresa tu password</div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="iniciarSesion()">Entrar</button>
    </div>
</form>